html {
    height: 100%;
    width: 100%;
  }
  
  #bi {
    width: 120px;
    height: 120px;
    position: fixed;
    bottom: 35px;
    right: 45px;
    box-shadow: 10px;
  }
  
  #chatbot {
    border-radius: 100%;
    position: fixed;
    background-color: black;
    bottom: 35px;
    right: 45px;
    width: 120px;
    height: 120px;
  }
  
  #popup {
    position: fixed;
    bottom: 200px;
    right: 45px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  